<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENTER</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"> <!-- 先ほど作成したCSSを読み込む -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <h1 class="club-title">STUDENTER</h1>
        <p>学生掲示板</p>
        <!-- home.ejs -->      
    </header>
    <div class="club-list">
      <% clubs.forEach(function(club) { %> 
          <div class="club-item">
              <a href="/clubs/<%= club.id %>" class="club-name"><%= club.name %></a>  <!-- 部活名リンク -->
          </div>
      <% }); %>
  </div>
</body>
</html>
